.App {
  display: flex;
  margin: 40px;
  min-height: calc(100vh-80px);
}
.splitleft {
  background-color: darkslategray;
  color: azure;
}
.splitright {
  background-color: wheat;
  color: firebrick;
}
